.card-container{
    width: 350px;
    height: 150px;
    display: flex;
    /* border: 1px solid red; */
    padding: 20px 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-img{
    width: 30%;
}
.card-img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* border: 1px solid red; */
}
.card-details{
    width: 70%;
    /* border: 1px solid red; */
    line-height: 5px;
}
.card-details>p:nth-child(1){
    font-size: 22px;
    font-weight: 600;
    color: rgb(79, 79, 79);
}
.user-details{
    display: flex;
    color: silver;
    font-weight: 600;
    font-size: 18px;
    overflow-x: hidden;
    line-height: 22px;
}
.user-bio{
    line-height: 20px;
    color: silver;
    font-weight: 600;
}

@media only screen and (max-width: 998px){
    .card-container{
        width: 450px;
        height: 200px;
        display: flex;
        /* border: 1px solid red; */
        padding: 20px 10px 10px 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: auto;
        margin-top: 15px;
    }
    .card-img{
        width: 30%;
    }
    .card-img img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        /* border: 1px solid red; */
    }
    .card-details{
        width: 70%;
        /* border: 1px solid red; */
        line-height: 25px;
    }
    .card-details>p:nth-child(1){
        font-size: 20px;
        font-weight: 600;
        color: rgb(79, 79, 79);
    }
    .user-details{
        display: flex;
        color: silver;
        font-weight: 500;
        font-size: 20px;
    }
    .user-bio{
        line-height: 30px;
        color: silver;
        font-weight: 500;
        font-size: 20px;
    }
}